.Aheader {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: 800;
  color: black;
  background-color: blue;
  text-align: center;
}

.ParaIntro {
  background-color: pink;
  display: flex;
  flex-direction: column;
  border: 3px, black;
  margin: 0.5em;
}
.containner {
  height: 100vh;
  width: 80%;
  padding: 0.5em;
  margin: 10vh auto 0;

  display: flex;
  flex-direction: column;

  align-items: stretch;
}
.itemsContainner {
  background-color: white;
  height: 50vh;
  width: 90%;
  padding: 0.5em;
  margin: 2vh auto 0;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: stretch;
}
.mouseMagic {
  text-align: center;
  align-content: center;
}
.Magic {
  font-size: 2rem;
  cursor: default !important;
}
