.header {
  background-color: ffff;
  color: rgb(43, 39, 39);
  font-weight: 750;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  top: 0;
  right: 0;
  border-bottom: 3px solid #e38a2d;
  border-radius: 2%;
  border: 5px solid #e38a2d;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 99.15%;
  margin-right: -15%;
}
h1 .header {
  text-align: center;
}

.contog {
  right: 0;
  top: 0;
  width: 30%;
  display: flex;
}
