a {
  color: black;
  text-decoration: none;
}

a:active {
  text-decoration: none;
  outline: none;
  color: black;
}
.Nav {
  right: 0;
  top: 0;
}

.Nav .pageOption {
  cursor: pointer;
  list-style-type: georgian;
  margin-right: 1rem;
}
