.titres {
  overflow: hidden;
  height: 33px;
}

.itemWrapper {
  height: 100%;
  width: 60%;
  animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(-60px);
  }
  75% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-120px);
  }
}

.scrollItem {
  height: 30px;
  font-size: 20px;
  font-weight: bold;

  position: relative;
  align-items: center;

  text-align: center;
}
