.borderDefault {
  border: 1px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-radius: 0.4rem;
  border-color: #e38a2d;
  margin-left: 2%;
  margin-right: 10%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ececec36;
}
